<?xml version="1.0"?>
<model>
  <name>SagaMecburiYonTabelasi</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Abdulkadir Gul</name>
    <email>abdulkadir.gul@outlook.com</email>
  </author>

  <description>
	SagaMecburiYonTabelasi.
  </description>
</model>
